<section class="page">

    <div class="page-header">
        <h1>Dashboard</h1>
        <p>Overview of your router</p>
    </div>

    <div class="card-grid">

        <div class="card">
            <span>Hostname</span>
            <h2 id="hostname">--</h2>
        </div>

        <div class="card">
            <span>IP Address</span>
            <h2 id="ip">--</h2>
        </div>

        <div class="card">
            <span>CPU Temp</span>
            <h2 id="cpu_temp">--</h2>
        </div>

        <div class="card">
            <span>RAM</span>
            <h2 id="ram">--</h2>
        </div>

        <div class="card">
            <span>Uptime</span>
            <h2 id="uptime">--</h2>
        </div>

        <div class="card">
            <span>System Time</span>
            <h2 id="time">--</h2>
        </div>

    </div>

</section>
